<html>

<head>
  <title>Skills</title>
</head>

<body>
  <div x-data>
    <template x-if="$store.settings.settings">
      <div>
        <div x-show="$store.settings.activeSubTab === 'skills-list'">
          <x-component path="settings/skills/list.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'skills-import'">
          <x-component path="settings/skills/import.html"></x-component>
        </div>
      </div>
    </template>
  </div>
</body>

</html>