<html>

<head>
  <title>Agent Settings</title>
</head>

<body>
  <div x-data>
    <template x-if="$store.settings">
      <div>
        <div x-show="$store.settings.activeSubTab === 'agent-config'" id="section-agent-config" class="section">
          <x-component path="settings/agent/agent.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'chat-model'" id="section-chat-model" class="section">
          <x-component path="settings/agent/chat_model.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'util-model'" id="section-util-model" class="section">
          <x-component path="settings/agent/util_model.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'browser-model'" id="section-browser-model" class="section">
          <x-component path="settings/agent/browser_model.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'subagent-model'" id="section-subagent-model" class="section">
          <x-component path="settings/agent/subagent_model.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'embed-model'" id="section-embed-model" class="section">
          <x-component path="settings/agent/embed_model.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'memory'" id="section-memory" class="section">
          <x-component path="settings/agent/memory.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'speech'" id="section-speech" class="section">
          <x-component path="settings/agent/speech.html"></x-component>
        </div>

        <div x-show="$store.settings.activeSubTab === 'workdir'" id="section-workdir" class="section">
          <x-component path="settings/agent/workdir.html"></x-component>
        </div>

      </div>
    </template>
  </div>
</body>

</html>